page-contact {

    .formulaireIcon {
        margin-right:15px;
    }

    .sendButton {
        margin-top:35px; 
        float:right;
        margin-bottom: 55px;
    }

    .items {
        margin-top : 20px;
    }
}
