page-home {
    
    .scroll-content {
        padding: 0 !important;
    }

    .toolbar-title-md, .toolbar-title-ios, .toolbar-title-wp {
        font-size: 1.3rem;
    }

    .one-one {
    display: inline-block;
    float: left;
    width: 50%;
    height: 200px;
    background-color: #29487d;
    }

.one-two {
    display: inline-block;
    float: right;
    width: 50%;
    height: 200px;
    background-color: #0077B5;
}

.two-one {
    display: inline-block;
    float: left;
    width: 50%;
    height: 200px;
    background-color: #db4437;
}

.two-two {
    display: inline-block;
    float: right;
    width: 50%;
    height: 200px;
    background-color: #1DA1F2;
}

.parent {
    text-align: center;
}

.parent:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%
}

.containerParent {
    display: table;
    /*table-layout: fixed;*/
    width: 100%;
    height: 150px;
}

.containerParent div {
    display: table-cell;
    height: 150px;
}

.box1 {
    width: 33.3%;
    background-color: #8a398a;
}

.box2 {
    width: 33.3%;
    background-color: #5050f5;
}

.box3 {
    width: 33.3%;
    background-color: #cd2e2e;
}

.card .card-md {
    margin-left: 10px;
    padding: 10px;
}

.customCardView {
    overflow: auto;
    overflow-y: hidden;
    margin: 0;
    background-color: white !important;
}

.customIcon {
    color: white;
    margin-left: 43%;
}

.customPhone {
    font-size: 3em;
}

.avatarHome {
    width: 100px !important;
    height: 100px !important;
}


    @media screen and (max-width: 450px) {
        .customIcon {
            margin-left: 41% !important;
            margin-top: 30% !important;
        }
        .spanPhone {
            margin-left: 9% !important;
            font-size: 20px !important;
        }
        .avatarHome {
            width: 65px !important;
            height: 65px !important;
        }
        .city {
            margin-left: 32% !important;
        }
        .iconPhone {
            margin-left: 11% !important;
            font-size: 15px !important;
        }
        .address {
            margin-left: 25% !important;
        }
        .telephone {
            font-size: 15px !important;
        }
        .logoTel {
            margin-left: 18% !important;
        }
    }
}
