// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

div.content.content-md {
    overflow: hidden;
}

div.content.content-ios {
    overflow: hidden;
}

div.content.content-wp {
    overflow: hidden;
}

/* Footer */

.toolbar-title-md {
    font-size: 14px !important;
}

.toolbar-title-ios {
    float: left;
    font-size: 10px !important;
}

.toolbar-title-wp {
    font-size: 10px !important;
}

/* *************** */

.menu .bar.bar-header.expanded {
    background-image: url(assets/background.png);
    background-size: 120%;
    background-position: 0%;
    transition: all .5s ease-in-out;
}

.list-md .item-block .item-inner {
    border-bottom: none !important;
}

.name {
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 10px;
}

.description {
    margin-left: 20px;
}

.circle {
    /*border-radius: 50%;*/
    display: inline-block;
    width: 64px;
    height: 64px;
}

.background {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.header-md::after {
    display: none;
}

.userView {
    position: relative;
    padding: 32px 32px 0;
    margin-bottom: 8px;
}

.userView>a {
    height: auto;
    padding: 0;
}

.userView>a:hover {
    background-color: transparent;
}

.userView .background {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.userView .circle,
.userView .name,
.userView .email {
    display: block;
    margin-bottom: -5px;
}

.userView .circle {
    height: 86px;
    width: 86px;
}

.userView .name,
.userView .email {
    font-size: 14px;
    line-height: 24px;
}

 .userView .name {
    margin-top: 16px;
    font-weight: 500;
}

 .userView .email {
    padding-bottom: 16px;
    font-weight: 400;
}

div {
    display: block;
}

.marginRight {
    margin-right: 15px;
}

.marginLeft {
    margin-left: 15px; 
}


    .whiteText {
        color: white !important;
    }

    .cardStyle {
        margin-bottom:50px; 
        background-color:#607d8b !important;
        margin-left: 10% !important;
        margin-right: 10% !important;
        padding: 10px;
        width: auto !important;
    }

    .githubLink {
        margin-top: 10px;
        float:right;
    }