page-creation {
    .cardHr {
        margin-top: 10px;
        margin-bottom: 10px;
        color: white !important;
        background-color: white;
    }

    .cardHrDark {
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: dimgrey;
    }

    .customAction {
        text-decoration: none;
        font-size: 20px;
        transition: color 0.5s ease;
        color: orange;
        margin-top: 20px;
    }
    
    .customAction:hover {
        color: white;
    }

    .badgeStyle {
        padding: 15px; 
        background-color: #e4e4e4; 
        color: slategrey;
        margin-top: 5px;
        margin-right: 20px;
        border-radius: 20px;
    }
}
